services:
  mongo:
    image: mongo
    container_name: mongo_whatsappsenderserver
    restart: always
    volumes:
      - ./mongo_data:/data/db
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}

  mongo-express:
    image: mongo-express
    container_name: mongo_express_whatsappsenderserver
    restart: always
    ports:
      - 8082:8081
    env_file: .env
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/
      ME_CONFIG_BASICAUTH: true

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    expose:
      - 9092
    restart: always
    environment:
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092,CONTROLLER://:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8080:8080"
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181


  evolution-api-db:
    image: postgres:16 # Use a specific version of the official Postgres image
    restart: unless-stopped # Automatically restart the container unless manually stopped
    environment:
      POSTGRES_USER: postgres # Sets the default user
      POSTGRES_PASSWORD: 71dd2349d23a97dcca24999717ab32c916b84792d8c6598534c31416ce07b93f # Sets the user's password
      POSTGRES_DB: evolutiondb # Sets a default database name
    ports:
      - "5432:5432" # Maps host port 5432 to container port 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persists data to a named volume

  redis:
    image: redis:7.4-alpine # Use a specific version for stability
    restart: always
    ports:
      - "6379:6379" # Map local port 6379 to container port 6379
    command: redis-server --save 20 1 --loglevel warning  #--requirepass yourpassword
    volumes:
      - redis-data:/data # Persist data in a named volume

  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.1.1
    restart: always
    depends_on:
      - kafka
      - evolution-api-db
      - redis
    ports:
      - "9001:9001"
    env_file:
      - .env
    environment:
      SERVER_PORT: 9001
      DATABASE_PROVIDER: postgresql
      DATABASE_CONNECTION_URI: 'postgresql://postgres:71dd2349d23a97dcca24999717ab32c916b84792d8c6598534c31416ce07b93f@evolution-api-db:5432/evolution?schema=public'
      CACHE_REDIS_ENABLED: true
      CACHE_REDIS_URI: redis://redis:6379

    volumes:
      - ./evolution_instances:/evolution/instances

  api_whatsappsenderserver:
    build: ./src
    container_name: api_whatsappsenderserver
    depends_on:
      - kafka
      - kafka-ui
      - mongo
      - evolution-api
    ports:
      - 8000:8000
    volumes:
      - ./src/:/app
    env_file: .env
    restart: always

  consumer:
    build: ./src/consumer
    container_name: consumer_whatsappsenderserver
    depends_on:
      - api_whatsappsenderserver
    env_file: .env
    environment:
      API_KEY: ${API_KEY}
    restart: always

  # webhook:
  #   build: ./src/webhook
  #   container_name: webhook_whatsappsenderserver
  #   depends_on:
  #     - kafka
  #     - mongo
  #     - consumer
  #   ports:
  #     - 9000:9000
  #   volumes:
  #     - ./src/webhook/:/app
  #   env_file: .env
  #   restart: always

volumes:
  postgres_data:
  redis-data:
    driver: local